body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    
}
button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
  
    padding: 8px;
    font-size: small;

    display: flex;
    align-self: flex-start;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.header-links {
    display: flex;
    justify-content: space-between;
}
.left-links,
.right-links {
    display: flex;
    padding: 10px;
    margin: 10px;
}
.left-links {
    margin-left: 100px;
}
.right-links {
    margin-right: 100px;
}
.header-main-area {
    display: flex;
    padding: 80px;
    justify-content: center;
    
}
.header-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(88, 91, 255);
    padding: 30px;
    padding-right: 200px;
}
.header-right {
    display: flex;
    background-color: #f33f3f;
    justify-content: center;
    align-items: center;
    padding: 100px;

}
ul {
    list-style-type: none;
    gap: 16px;
}
a {
    text-decoration: none;
    color: white;
}
.container,
.container-2,
.container-3 {
    display: flex;
    justify-content: center;
}
.info {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}
div.text {
    width: 120px;
    font-size: small;
}
.title {
    font-size: 36px;
    font-weight: 900;
  
    margin: 32px;
}
.container {
    background-color: rgb(255, 255, 255);
    padding-bottom: 60px;
    gap: 0px;

}
.container-2 {
    background-color: #e5e7eb;

}