body {
    display: flex;
    flex-direction: column;
}
button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
  
    padding: 8px;
    font-size: small;

    display: flex;
    align-self: flex-start;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.header-links {
    display: flex;
    justify-content: space-between;
}
.left-links,
.right-links {
    display: flex;
    padding: 10px;
    margin: 10px;
}
.left-links {
    margin-left: 100px;
}
.right-links {
    margin-right: 100px;
}
.header-main-area {
    display: flex;
    padding: 80px;
    justify-content: center;
    
}
.header-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(88, 91, 255);
    padding: 100px;
}
.header-right {
    display: flex;
    background-color: rgb(243, 63, 63);
    justify-content: center;
    align-items: center;
    padding: 100px;

}
ul {
    list-style-type: none;
    gap: 16px;
}
a {
    text-decoration: none;
    color: white;
}
